<p class="mb-0"><strong><%= comment.commenter %></strong></p>
<p class="text-secondary small mt-0 mb-2"><small><%= comment.created_at.strftime("%B %-d, %Y at %l:%M %P") %></small></p>
<p class="text-secondary mt-2"><%= comment.body %></p>